.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: var(--color-accent);
  border-bottom: 1px solid black;
}

.filters {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin: 0.3rem;
  background-color: transparent;
  opacity: 0.5;
  color: var(--color-text);
}

.filter:hover,
.filter.selected {
  opacity: 1;
}

.filter.selected::after {
  content: '';
  display: block;
  width: 100%;
  margin-top: 0.1rem;
  border: 1px solid red;
}
