.formContainer {
  display: block;
  height: 10rem;
}
.employeeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: brown;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
}

.countBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 3rem;
  background-color: orange;
  font-size: large;
  font-weight: bold;
  margin-bottom: 30px;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  width: 20rem;
  height: 20rem;
  margin: 1rem 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.avatar {
  position: relative;
  height: 250px;
  width: 250px;
  margin: auto;
}

.profile {
  background-color: teal;
  height: 350px;
  width: 300px;
  padding: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  margin: 50px 30px;
}

.profileImage {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

.newTag {
  position: absolute;
  top: 10%;
  left: 70%;
  background-color: aqua;
  border: 1px solid yellow;
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.mentor {
  position: absolute;
  top: 100%;
}
